*{
	/*reset*/
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

.navbar {
	background:none;
}

/*home*/
.home{
min-height: 100vh;
background-image:url(../images/cover.png);
background-size: cover;

}

.jumbotron {
	text-align: center;
	height:auto;
	width:100%;
	background:none;
	margin: 0;
	padding: 0;
}

.welcome-message{
	font-size:16px;
	width:500px;
	height:100px;
}
.welcome{
	width:500px;
	height:100px;
}


.jum{
	height:250px;
	width:100%;
	opacity: 0.7;
	min-width:200px;
}


.title{
	text-align: center;
	font-size: 40px;
	font-color: white;
}
/*about*/

.about{
min-height: 100vh;
font-size:16px;
background-color:#D5D5D5;
}

.heading-about{
	font-size: 25px;
	text-align: center;
}
.details-about{
	font-size:16px;

}

.about-details{
	background-color:;
	border-color: white;
}

#FDFDFD




.projects{
min-height: 100vh;	
}

.skills{
min-height: 100vh;	
}

.contact{
min-height: 100vh;	
}

